@page 


<div class="text-center">
	<h6 class="disply-6">Teşekkürler</h6>
	<p>Sipariş verdiğiniz için teşekkürler #@OrderId</p>
	<p>Ürünlerinizi mümkün olan en kısa sürede göndereceğiz.</p>
	<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Anasayfaya dön</a>
</div>


@functions
{
	[BindProperty(SupportsGet = true)]
	public String? OrderId { get; set; }
}