@page "/getintouch"

<div class="text-center border my-5 rounded">
	<div class="display-6">Contact</div>
	<div class="lead">
		<i class="fa fa-phone text-primary my-3"></i>
		<p>ALO ETÜ destek hattı</p>
		<i class="fa-solid fa-address-book text-primary my-3"></i>
		<p>
			Ömer Nasuhi Bilmen Mah.Farabi Bulvarı No:12 Yakutiye/ERZURUM
			Yakutiye/Erzurum
		</p>
		<i class="fa-solid fa-envelope text-primary my-3"></i>
		<p>
			bilgi@erzurum.edu.tr
		</p>
	</div>
</div>




