@page "/getintouch"

<div class="text-center border my-5 rounded">
	<div class="display-6 border-bottom">Contact</div>
	<div class="lead mt-5">
		<i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
		<p>ALO ETÜ destek hattı</p>
		<i class="fa-solid fa-address-book bg-secondary text-white p-3 rounded-5 my-3"></i>
		<p>
			Ömer Nasuhi Bilmen Mah.Farabi Bulvarı No:12 Yakutiye/ERZURUM
			Yakutiye/Erzurum
		</p>
		<i class="fa-solid fa-envelope text-primary bg-secondary text-white p-3 rounded-5 my-3"></i>
		<p>
			bilgi@erzurum.edu.tr
		</p>
	</div>
</div>




