@model ProductDtoForInsteriton

<div class="text-center">
	<div class="display-6">Create</div>
</div>

<form method="post" asp-action="Update">

	<div class="text-danger" asp-validation-summary="All"></div>

	<input type="hidden" asp-for="ProductId" />

	<div class="form-group my-3">
		<table asp-for="ProductName"></table>
		<input asp-for="ProductName" class="form-control" />
	</div>

	<table asp-for="Price"></table>
	<input asp-for="Price" class="form-control" />

	<div class="form-group my-3">
		<div class="btn-group">
			<button class="btn btn-primary" type="submit">
				<i class="fa fa-save"></i>
				Update
			</button>
			<a asp-action="Index" class="btn btn-outline-primary">
				<i class="fa fa-list"></i>
				Products
			</a>
		</div>
	</div>
</form>
